textarea{
    resize: vertical;
}
.d-inline-block-100{
    display: inline-block;
    width: 100%;
}
.box-container{
    background-color: white;
}
.nav-tabs-custom {
    background: #cee9fd;
}
.small-box>.inner, .info-box{
    position: relative;
}

.small-box>.inner ._order-count{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 150px;
    padding: 10px;

}
.small-box>.inner ._order-count p{
    font-size: 14px;
    margin-bottom: 0;
}
.small-box>.inner ._link, .info-box ._link{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.user-panel{
    cursor: pointer;
}
/*.box {
    z-index: 2000;
}*/

#iframeImg{
    border: none;
    width: 100%;
    height: 500px;
}
.btnSltImg,.showImg{
    margin: 30px 0px;
}
.showImg{
    max-width: 200px;
    max-height: 200px;
    background: #ccc;
}

.showImg1{
    max-width: 100%;
}
.main-footer{
    text-align: center;
}

.btnAdd{
    margin: 30px;
}
.btnAdd span{
    padding: 10px;
}

.lbl{
    font-weight: normal;
}

.text-default{
    color:#333;
}
.text-default img{
    float: left;
    margin-right: 10px;
    width: 30px;
}

table .text-default {
    text-align: left !important;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}




/*list*/
.imglist{
    background: #ccc;
    max-width: 40px;
    max-height: 40px;
}

/* select option */
.select2{
    width: 100%;
}

.detail_img{
    max-height: 150px;
    min-height: 150px;
    margin: 20px;
}

/* gallery */
.imgGallery{
    max-height: 150px;
}
/* btn del img detail */
.icon_del{
    position: relative;
    top: -30px;
    left: -20px;
    border-radius: 100px;
}

.confPre{
    background: #ccc;
}

.showcolor {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #000;
    margin-right: 20px;
    cursor: pointer;
}

.divColor li{
    display: inline-block;
}
.liColor, .bgcolor {
    display: flex;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
}
.liColor.active:before, .liColor:hover:before {
    content: "";
    padding: 5px;
    width: 26px;
    height: 26px;
    border: 1px solid #ed1c24;
    border-radius: 100%;
    position: absolute;
    z-index: 0;
    top: -4.5px;
    left: -3.8px;
}
.chkcolor {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
}


/*  login */
.loginImg{
    width: 100px;
    height: 100px;
    background: #ccc;
    border-radius: 100%;
    margin: 10px auto;
    position: relative;
    top: -10px;
}
.loginImg i{
    position: relative;
    left: 25px;
    margin-top: 25px;
    font-size: 60px;
}
#cloud {
    width: 350px; height: 120px;

    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

    position: relative;
    bottom: 550px;
    left: 450px;
    margin: 120px auto 20px;
}
#cloud:after, #cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: -1
}
#cloud:after {
    width: 100px; height: 100px;
    top: -50px; left: 50px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
#cloud:before {
    width: 180px; height: 180px;
    top: -90px; right: 50px;

    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
}
.shadow {
    width: 350px;
    position: absolute; bottom: -10px;
    background: #000;
    z-index: -1;

    box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

@media(min-width:992px){
    .col-20{
        width: 20%;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
    }
}
.col-20 .page-header{
    font-size: 16px;}
.image__gallery{
    border:1px solid #ccc;
    min-height: 200px;
    border-radius: 3px;

}
.image__thumbnail{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    width: 180px;
    height: 180px;

}
.image__thumbnail img{
    position: relative;
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.image__thumbnail--style-1{
    margin: 5px;
    margin-bottom: 0;
}

.image__delete{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgba(60, 141, 188, 0.9);
    font-size: 11px;
    color:white !important;
}
.image__delete:hover{
    box-shadow: 0 0 0 red;
}

.image__button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    color: rgba(255,255,255,0.8);
    padding:5px 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}
.image__button:hover{
    background-color: rgba(0,0,0,0.7);
}

.repeat_btn {
    position: absolute;
    top: 50%;
    right: -8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    background-color: #fff;
}
.table-responsive table{
    min-width: 900px;
}
@media(min-width:1200px){
    .table-responsive{
        overflow-x: initial;
    }
}
.table.dataTable thead > tr > th:first-child{
    padding-right: 5px;
}
.table.dataTable thead > tr > th:first-child:after {
    display: none;
}
.table .status{
    cursor: pointer;
}
textarea[name=excerpt],
textarea[name=meta_description] {
    min-height: 100px;
}
.ajax-badge{cursor: pointer}
.iconpicker-popover{
    z-index: 999;
}
.repeat-btn-remove{
    position: absolute;
    top: 50%;
    right: -8px;
    border:1px solid #ccc;
    border-radius:15px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    background-color: #fff;
}
.repeat-btn-add{
    position: absolute;
    top: calc(50% - 20px);
    right: -8px;
    border:1px solid #ccc;
    border-radius:15px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    background-color: #fff;
}
